$border-image:rgb(241, 190, 190);
$font-name:'tenor sans';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
.bodybackground{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right top, #4fe99f, #75eb96, #93ec8f, #aced8a, #c3ee87);
     
}
.colorbarraverde{
    background-color: #75b703db;
}
.bg-colorblancocrema{
    background-color: rgb(222, 196, 196);
}

.bgreservaddos{
    background-color: seagreen;
} 
.tituloh1{
    font-size: 30px; color: rgb(0, 0, 0);font-family: 'kanit'; font-weight: bold ;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;700&family=Kanit:wght@200;400&display=swap');
.letratitulo{
    font-family: 'cormorant'; font-weight: bold
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;700&family=Kanit:wght@200;400&family=Tenor+Sans&display=swap');
.fuenteparra{
    font-family:$font-name; font-weight: bold ;font-size: 20px; 
}
.fuentefoot{
    font-family: $font-name; font-weight: bold ;font-size: 18px;
}

.border-image{
    border: 1px solid $border-image;
    border-radius: 25px;
}
.border-image:hover{
    filter:opacity(.5);
}
.textus{
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
.titulous{
    margin-left: 100px;
    font-weight:7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.link{
    color: aliceblue;
    font-family: Arial, Helvetica;
    font-size: 1.4rem;
    cursor: pointer;
    padding-bottom: 8px;
    transition: transform 0.5s ease-in;
}   
.stylebutton{
    transition: 4s all;
}
.stylebutton:hover{
    translate: scale(1.2);
}
    .sucu{
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imapa{
    margin-left: 50px;
}
.header {
    color: #000000;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}